1 ICON "game.ico"
101 RCDATA "map/map1.png"
102 RCDATA "bg.png"

201 RCDATA "zombie1.png"

301 RCDATA "guojige.mp3"  
302 RCDATA "blackrx.mp3"  

401 RCDATA "avatar/king.png"
402 RCDATA "avatar/zombie.png"